@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background-color: #000;
}

.nav-item {
  position: relative;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  overflow: hidden;
}

.nav-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
  pointer-events: none;
}

.nav-item:hover::before {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
}

@keyframes toast-progress {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
